# Description
this notebook cleans and analyzes contacts from the company CRM

In [19]:
# The code was removed by Watson Studio for sharing.

In [22]:
df_medical_contacts

,Contact ID,First Name,Last Name,Annual Revenue,Associated Deals,Became a Lead Date,Became a Sales Qualified Lead Date,Became a Subscriber Date,Became an Evangelist Date,Became an Opportunity Date,...,Time of First Session.1,Time of Last Session.1,First Conversion.1,First Conversion Date.1,Number of Form Submissions.1,Recent Conversion.1,Recent Conversion Date.1,Number of blockers,Number of contacts with a buying role,Number of decision makers
0,301,Jono,Joseph,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
1,51,Brian,Halligan (Sample Contact),NaN,NaN,2019-10-30 15:17:00,NaT,NaT,NaT,NaT,...,NaT,NaT,Contact | FROSTMED: .wpcf7-form,2019-12-04 15:12:00,1.0,Contact | FROSTMED: .wpcf7-form,2019-12-04 15:12:00,0.0,0.0,0.0
2,351,Matt,Reed,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3,103,Jace,Ely,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
4,104,Nordine,Laghrissi,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22340,201407,Veken,Torosian,86M,NaN,NaT,NaT,2021-04-13 12:43:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
22341,201406,Tom,Anderson,21M,NaN,NaT,NaT,2021-04-13 12:43:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
22342,201405,Tom,Scuderi,55M,NaN,NaT,NaT,2021-04-13 12:43:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
22343,203901,Mia,Benjamin,NaN,NaN,2021-04-20 13:07:00,NaT,NaT,NaT,NaT,...,2021-04-19 17:32:00,2021-04-20 13:07:00,Contact | FROSTMED: Contact Us Form,2021-04-20 13:07:00,1.0,Contact | FROSTMED: Contact Us Form,2021-04-20 13:07:00,0.0,0.0,0.0
22344,201404,Tim,Peterson,8.3M,NaN,NaT,NaT,2021-04-13 12:43:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0

In [23]:
filter=df_medical_contacts["Job Title"]=="CEO"
df_medical_contacts[filter]

,Contact ID,First Name,Last Name,Annual Revenue,Associated Deals,Became a Lead Date,Became a Sales Qualified Lead Date,Became a Subscriber Date,Became an Evangelist Date,Became an Opportunity Date,...,Time of First Session.1,Time of Last Session.1,First Conversion.1,First Conversion Date.1,Number of Form Submissions.1,Recent Conversion.1,Recent Conversion Date.1,Number of blockers,Number of contacts with a buying role,Number of decision makers
1,51,Brian,Halligan (Sample Contact),NaN,NaN,2019-10-30 15:17:00,NaT,NaT,NaT,NaT,...,NaT,NaT,Contact | FROSTMED: .wpcf7-form,2019-12-04 15:12:00,1.0,Contact | FROSTMED: .wpcf7-form,2019-12-04 15:12:00,0.0,0.0,0.0
48,150,Abderrahman,Baziz,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
509,1812,Dean,Reese,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
1523,3351,Casey,Betzold,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
2376,4326,Susan,Edwards,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
2987,5361,Lloyd,Soong,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3297,6141,Robert,Bethencourt,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3327,6423,Raymond,Carvajal,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,2020-01-14 13:31:00,2020-01-14 13:31:00,Contact | FROSTMED: Contact Us Form,2020-01-14 13:31:00,1.0,Contact | FROSTMED: Contact Us Form,2020-01-14 13:31:00,0.0,0.0,0.0
3329,6424,James,Strader,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3333,6426,Gene,Minton,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3420,6705,Rick,Gilbert,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3511,6924,Lance,Adams,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3578,6824,Sherry,McDonald,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3647,7313,Genevieve,Benjamin,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3710,7456,Jake,Crampton,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3852,12653,Ashesh,Shah,NaN,NaN,NaT,NaT,2019-12-23 12:07:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
4176,21224,Greg,Judy,NaN,NaN,NaT,NaT,2020-01-15 17:32:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
4819,22613,DAVE,LASTRA,NaN,NaN,NaT,NaT,2020-01-15 17:32:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
4829,22623,Billy,Wright,NaN,NaN,NaT,NaT,2020-01-15 17:32:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
7026,36151,Abiodun,Atobatele,NaN,NaN,NaT,NaT,2020-02-04 15:28:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
7082,36551,Sascha,Winter,NaN,NaN,NaT,NaT,2020-02-04 15:28:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
7162,38051,Peyman,Bakhshandeh,NaN,NaN,NaT,NaT,2020-02-04 15:28:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
7192,37101,Raj,Chhibber,NaN,NaN,NaT,NaT,2020-02-04 15:28:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
8748,44087,Robert,Mateff,NaN,NaN,NaT,NaT,2020-02-14 16:56:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0

In [25]:
filter=df_medical_contacts["Job Title"]=="Pharmacist"
df_medical_contacts[filter]

,Contact ID,First Name,Last Name,Annual Revenue,Associated Deals,Became a Lead Date,Became a Sales Qualified Lead Date,Became a Subscriber Date,Became an Evangelist Date,Became an Opportunity Date,...,Time of First Session.1,Time of Last Session.1,First Conversion.1,First Conversion Date.1,Number of Form Submissions.1,Recent Conversion.1,Recent Conversion Date.1,Number of blockers,Number of contacts with a buying role,Number of decision makers
10,113,Swati,Sahib,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
16,119,Brannon,Powell,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
20,123,Pam,Coumans,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
21,124,Kwame,Haven,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
23,126,Greg,Levison,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3416,6674,YASMIN,RAHMANI,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3504,6917,Ira,Katz,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
3535,6975,Sam | Yasir (manager),Chaar,NaN,NaN,NaT,NaT,2019-12-04 15:01:00,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,0.0,0.0,0.0
7030,33851,Hassan,El Youssfi,NaN,NaN,2020-01-29 13:42:00,NaT,NaT,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
15132,82801,PIETRO,DADDI,NaN,NaN,2020-05-27 16:59:00,NaT,NaT,NaT,NaT,...,NaT,NaT,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN